- return unless License.feature_available?(:system_header_footer)

- form = local_assigns.fetch(:form)

%hr
.row
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      = _('System header and footer')

  .col-lg-8
    .form-group
      = form.label :header_message, _('Header message'), class: 'col-form-label label-bold'
      = form.text_area :header_message, placeholder: _('State your message to activate'), class: "form-control js-autosize"
    .form-group
      = form.label :footer_message, _('Footer message'), class: 'col-form-label label-bold'
      = form.text_area :footer_message, placeholder: _('State your message to activate'), class: "form-control js-autosize"
    .form-group.js-toggle-colors-container
      = link_to _('Customize colors'), '#', class: 'js-toggle-colors-link'
    .form-group.js-toggle-colors-container.hide
      = form.label :message_background_color, _('Background Color'), class: 'col-form-label label-bold'
      = form.color_field :message_background_color, class: "form-control"
    .form-group.js-toggle-colors-container.hide
      = form.label :message_font_color, _('Font Color'), class: 'col-form-label label-bold'
      = form.color_field :message_font_color, class: "form-control"
